@import "tailwindcss";
@import "tw-animate-css";

.arabic-text {
  direction: rtl;
  text-align: right;
}


@import "tailwindcss";

/* ===== Light Theme ===== */
@theme {
  /* Base */
  --color-bg: #F0FAF4;
  --color-surface: #FFFFFF;
  --color-card: #FFFFFF;
  --color-border: #D0EAD6;

  /* Text */
  --color-text: #033D1A;
  --color-text-sec: #066B36;
  --color-muted: #A3D9C9;

  /* Brand / Primary */
  --color-primary: #046A38;
  --color-primary-light: #2ECC71;
  --color-primary-dark: #033D1A;

  /* Accent / Gold */
  --color-accent: #A67C00;
  --color-accent-light: #F1C27D;

  /* UI Specific */
  --color-navbar: #FFFFFF;
  --color-footer: #F0FAF4;
  --color-input-bg: #FFFFFF;
  --color-input-border: #D0EAD6;
  --color-input-text: #033D1A;
}

